<%- include('header') -%>

<section id="content">
    <img id="content-logo" src="/static/img/logo_mrcoffee.png" alt="Mr. Coffee's logo with the text MR. COFFEE in black color">
    
    <div id="schedules">
        <% for(let i = 0; i < schedules.length; i++) { %>
          <p>
            <strong><a href="/employee/<%= schedules[i].user_id %>"><%= schedules[i].firstname %></a></strong>&nbsp;-&nbsp;<%= schedules[i].day %>&nbsp;<%= schedules[i].start_at %>-<%= schedules[i].end_at %>
          </p>
        <% } %>
      </table>
    </div>
</section>

<%- include('footer') -%>